{% extends 'layout.html' %}

{% block title %} 服务订单记录 {% endblock %}

{% block body %}
    <section xmlns="http://www.w3.org/1999/html">
        <div class="section-body">
            <!-- BEGIN DATATABLE 2 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-head style-primary">
                            <header>全部订单列表</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" action="" method="GET"> {% csrf_token %}
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp用户名:</td>
                                        <td>
                                            <input value="{{ name }}" type="text" id="name" name="name" maxlength="16"
                                                   placeholder="用户名模糊查询">
                                        </td>
                                        <td>&nbsp&nbsp用户手机号:</td>
                                        <td>
                                            <input value="{{ phone }}" type="text" id="phone" name="phone"
                                                   maxlength="50" class="" placeholder="电话号码模糊查询">
                                        </td>
                                        <td>&nbsp&nbsp&nbsp&nbsp用户名:&nbsp&nbsp</td>
                                        <td>
                                            <input value="{{ exact_name }}" type="text" id="exact_name"
                                                   name="exact_name" maxlength="50" class="" placeholder="用户名精准查询">
                                        </td>
                                        <td>&nbsp&nbsp&nbsp&nbsp地址:&nbsp&nbsp</td>
                                        <td>
                                            <input value="{{ address }}" type="text" name="address" maxlength="100"
                                                   style="width:240px;" placeholder="客户地址模糊查询">
                                        </td>
                                        <td>&nbsp&nbsp备注:</td>
                                        <td>
                                            <input value="{{ note }}" type="text" name="note" maxlength="100"
                                                   style="width:240px;" placeholder="备注信息模糊查询">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>服务技师:</td>
                                        <td>
                                            <select id="id_massagist" name="massagist"
                                                    class="form-control static dirty">
                                                {% if massagist %}
                                                    <option value=''>全部</option>
                                                    {% for ma in massagist_list %}
                                                        {% ifequal ma massagist %}
                                                            <option selected="selected"
                                                                    value="{{ ma }}">{{ ma }}</option>
                                                        {% else %}
                                                            <option value="{{ ma }}">{{ ma }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option selected="selected" value=''>全部</option>
                                                    {% for ma in massagist_list %}
                                                        <option value="{{ ma }}">{{ ma }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>&nbsp&nbsp支付方式:</td>
                                        <td>
                                            <select id="id_payment" name="payment" class="form-control static dirty">
                                                {% if payment %}
                                                    <option value=''>全部</option>
                                                    {% for pa in payment_list %}
                                                        {% ifequal pa payment %}
                                                            <option selected="selected"
                                                                    value="{{ pa }}">{{ pa }}</option>
                                                        {% else %}
                                                            <option value="{{ pa }}">{{ pa }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option selected="selected" value=''>全部</option>
                                                    {% for pa in payment_list %}
                                                        <option value="{{ pa }}">{{ pa }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>&nbsp&nbsp服务选项:</td>
                                        <td>
                                            <select id="id_items" name="items" class="form-control static dirty">
                                                {% if items %}
                                                    <option value=''>全部</option>
                                                    {% for it in items_list %}
                                                        {% ifequal it items %}
                                                            <option selected="selected"
                                                                    value="{{ it }}">{{ it }}</option>
                                                        {% else %}
                                                            <option value="{{ it }}">{{ it }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option selected="selected" value=''>全部</option>
                                                    {% for it in items_list %}
                                                        <option value="{{ it }}">{{ it }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>&nbsp&nbsp服务时长:</td>
                                        <td>
                                            <select id="id_duration" name="duration" class="form-control static dirty">
                                                {% if duration %}
                                                    <option value=''>全部</option>
                                                    {% for du in duration_list %}
                                                        {% ifequal du duration %}
                                                            <option selected="selected"
                                                                    value="{{ du }}">{{ du }}</option>
                                                        {% else %}
                                                            <option value="{{ du }}">{{ du }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option selected="selected" value=''>全部</option>
                                                    {% for du in duration_list %}
                                                        <option value="{{ du }}">{{ du }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>&nbsp&nbsp完成状态:</td>
                                        <td>
                                            <select id="id_order_status" name="order_status"
                                                    class="form-control static dirty">
                                                {% if order_status %}
                                                    <option value=''>全部</option>
                                                    {% for od in order_status_list %}
                                                        {% ifequal od order_status %}
                                                            <option selected="selected"
                                                                    value="{{ od }}">{{ od }}</option>
                                                        {% else %}
                                                            <option value="{{ od }}">{{ od }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option selected="selected" value=''>全部</option>
                                                    {% for od in order_status_list %}
                                                        <option value="{{ od }}">{{ od }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>起始时间:</td>
                                        <td colspan="1">
                                            <div class="col-sm-12">
                                                <input name="start_date" value="{{ start_date }}" class="form-control"
                                                       id="start_date" type="date">
                                            </div>
                                        </td>
                                        <td>截至时间:</td>
                                        <td colspan="1">
                                            <div class="col-sm-12">
                                                <input name="end_date" value="{{ end_date }}" class="form-control"
                                                       id="end_date" type="date">
                                            </div>
                                        </td>
                                        <td>&nbsp&nbsp&nbsp&nbsp额外车费:</td>
                                        <td>
                                            <input type="radio" name="fee" value="-1"
                                                    {% ifequal fee '-1' %} checked="true" {% endifequal %} >不区分
                                            <input type="radio" name="fee" value="0"
                                                    {% ifequal fee '0' %} checked="true" {% endifequal %} >无
                                            <input type="radio" name="fee" value="1"
                                                    {% ifequal fee '1' %} checked="true" {% endifequal %} >有
                                        </td>
                                        <td>&nbsp&nbsp是否打折:&nbsp</td>
                                        <td>&nbsp
                                            <input type="radio" name="discount" value="-1"
                                                    {% ifequal discount '-1' %} checked="true" {% endifequal %} >不区分
                                            <input type="radio" name="discount" value="0"
                                                    {% ifequal discount '0' %} checked="true" {% endifequal %} >无
                                            <input type="radio" name="discount" value="1"
                                                    {% ifequal discount '1' %} checked="true" {% endifequal %} >有
                                        </td>
                                        <td>&nbsp&nbsp&nbsp&nbsp账户余额:&nbsp&nbsp</td>
                                        <td>
                                            <input type="radio" name="blance" value="-1"
                                                    {% ifequal blance '-1' %} checked="true" {% endifequal %} >全部
                                            <input type="radio" name="blance" value="0"
                                                    {% ifequal blance '0' %} checked="true" {% endifequal %} >无余额
                                            <input type="radio" name="blance" value="1"
                                                    {% ifequal blance '1' %} checked="true" {% endifequal %} >有余额
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div class="card-actionbar-row">
                                            <a href="{% url 'management_url_site:add' %}"
                                               class="btn btn-flat btn-primary ink-reaction"><span
                                                    class="title">新增服务记录</span></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-actionbar-row">
{#                                          <a href="{% url 'management_url_site:batch_add' %}"#}
                                            <a href="#" onclick="return confirm('导入功能待完善')"
                                               class="btn btn-flat btn-primary ink-reaction">
                                                    <span class="title">导入服务记录</span></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <div class="card-actionbar-row">
                                            <p class="btn btn-flat btn-primary ink-reaction"><span
                                                    class="title">查询共 {{ orders_count }} 条</span></p>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-actionbar-row">
                                            <a href="{% url 'management_url_site:orders' %}"
                                               class="btn btn-flat btn-primary ink-reaction"><span
                                                    class="title">重置查询</span></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-actionbar-row">
                                            <input type="submit" class="btn btn-flat btn-primary ink-reaction"
                                                   value="开始查询">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr><hr><hr>
                            <div class="table-responsive">
                                {# <table id="datatable2" class="table order-column hover">#}
                                <table id="datatable1" class="table order-column hover">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>用户号</th>
                                        <th>名称</th>
                                        <th>手机号</th>
                                        <th>地址</th>
                                        <th>日期</th>
                                        <th>项目</th>
                                        <th>项目时长</th>
                                        <th>技师</th>
                                        <th>付款方式</th>
                                        <th>实收金额</th>
                                        <th>优惠金额</th>
                                        <th>小费</th>
                                        <th>车费</th>
                                        <th width="90px" >完成状态</th>
                                        <!-- <th width="150px">备注</th> -->
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr class="gradeX">
                                            <td>{{ order.pk }}</td>
                                            <td>{{ order.uin }}</td>
                                            <td>{{ order.name }}</td>
                                            <td>{{ order.phone }}</td>
                                            <td>{{ order.address }}</td>
                                            <td>{{ order.service_date }}</td>
                                            <td>{{ order.service_type.items }}</td>
                                            <td>{{ order.service_type.duration }}</td>
                                            <td>{{ order.massagist.name }}</td>
                                            <td>{{ order.payment_option }}</td>
                                            <td>{{ order.amount }}</td>
                                            <td>{{ order.discount }}</td>
                                            <td>{{ order.tip }}</td>
                                            <td>{{ order.fee }}</td>
                                            <td>{{ order.order_status }}</td>
                                            <td>{{ order.note }}</td>
                                            <td>
                                                <a href="{% url 'management_url_site:edit' order.id %}"
                                                   class="btn ink-reaction btn-floating-action btn-warning"><i
                                                        class="md md-edit"></i> </a>
                                                <a href="#" class="btn ink-reaction btn-floating-action btn-danger"
                                                   onclick="return confirm('暂不提供删除功能')"><i class="md md-delete"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!--end .table-responsive -->
                        </div>
                    </div>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END DATATABLE 2 -->

        </div><!--end .section-body -->
    </section>
{% endblock %}
